<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epri.fx.server.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.epri.fx.server.entity.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="enabled" jdbcType="CHAR" property="enabled"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="crt_user" jdbcType="VARCHAR" property="crtUser"/>
        <result column="crt_name" jdbcType="VARCHAR" property="crtName"/>
        <result column="crt_host" jdbcType="VARCHAR" property="crtHost"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
        <result column="upd_user" jdbcType="VARCHAR" property="updUser"/>
        <result column="upd_name" jdbcType="VARCHAR" property="updName"/>
        <result column="upd_host" jdbcType="VARCHAR" property="updHost"/>
        <result column="attr1" jdbcType="VARCHAR" property="attr1"/>
        <result column="attr2" jdbcType="VARCHAR" property="attr2"/>
        <result column="attr3" jdbcType="VARCHAR" property="attr3"/>
        <result column="attr4" jdbcType="VARCHAR" property="attr4"/>
        <result column="attr5" jdbcType="VARCHAR" property="attr5"/>
        <result column="attr6" jdbcType="VARCHAR" property="attr6"/>
        <result column="attr7" jdbcType="VARCHAR" property="attr7"/>
        <result column="attr8" jdbcType="VARCHAR" property="attr8"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, code, title, parent_id, href, icon, type, order_num, description, path, enabled, 
    crt_time, crt_user, crt_name, crt_host, upd_time, upd_user, upd_name, upd_host, attr1, 
    attr2, attr3, attr4, attr5, attr6, attr7, attr8
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.epri.fx.server.entity.Menu">
    insert into base_menu (id, code, title, 
      parent_id, href, icon, 
      type, order_num, description, 
      path, enabled, crt_time, 
      crt_user, crt_name, crt_host, 
      upd_time, upd_user, upd_name, 
      upd_host, attr1, attr2, 
      attr3, attr4, attr5, 
      attr6, attr7, attr8
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{orderNum,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{crtUser,jdbcType=VARCHAR}, #{crtName,jdbcType=VARCHAR}, #{crtHost,jdbcType=VARCHAR}, 
      #{updTime,jdbcType=TIMESTAMP}, #{updUser,jdbcType=VARCHAR}, #{updName,jdbcType=VARCHAR}, 
      #{updHost,jdbcType=VARCHAR}, #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, 
      #{attr3,jdbcType=VARCHAR}, #{attr4,jdbcType=VARCHAR}, #{attr5,jdbcType=VARCHAR}, 
      #{attr6,jdbcType=VARCHAR}, #{attr7,jdbcType=VARCHAR}, #{attr8,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.epri.fx.server.entity.Menu">
        insert into base_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="href != null">
                href,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="crtTime != null">
                crt_time,
            </if>
            <if test="crtUser != null">
                crt_user,
            </if>
            <if test="crtName != null">
                crt_name,
            </if>
            <if test="crtHost != null">
                crt_host,
            </if>
            <if test="updTime != null">
                upd_time,
            </if>
            <if test="updUser != null">
                upd_user,
            </if>
            <if test="updName != null">
                upd_name,
            </if>
            <if test="updHost != null">
                upd_host,
            </if>
            <if test="attr1 != null">
                attr1,
            </if>
            <if test="attr2 != null">
                attr2,
            </if>
            <if test="attr3 != null">
                attr3,
            </if>
            <if test="attr4 != null">
                attr4,
            </if>
            <if test="attr5 != null">
                attr5,
            </if>
            <if test="attr6 != null">
                attr6,
            </if>
            <if test="attr7 != null">
                attr7,
            </if>
            <if test="attr8 != null">
                attr8,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="href != null">
                #{href,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=CHAR},
            </if>
            <if test="crtTime != null">
                #{crtTime,jdbcType=TIMESTAMP},
            </if>
            <if test="crtUser != null">
                #{crtUser,jdbcType=VARCHAR},
            </if>
            <if test="crtName != null">
                #{crtName,jdbcType=VARCHAR},
            </if>
            <if test="crtHost != null">
                #{crtHost,jdbcType=VARCHAR},
            </if>
            <if test="updTime != null">
                #{updTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updUser != null">
                #{updUser,jdbcType=VARCHAR},
            </if>
            <if test="updName != null">
                #{updName,jdbcType=VARCHAR},
            </if>
            <if test="updHost != null">
                #{updHost,jdbcType=VARCHAR},
            </if>
            <if test="attr1 != null">
                #{attr1,jdbcType=VARCHAR},
            </if>
            <if test="attr2 != null">
                #{attr2,jdbcType=VARCHAR},
            </if>
            <if test="attr3 != null">
                #{attr3,jdbcType=VARCHAR},
            </if>
            <if test="attr4 != null">
                #{attr4,jdbcType=VARCHAR},
            </if>
            <if test="attr5 != null">
                #{attr5,jdbcType=VARCHAR},
            </if>
            <if test="attr6 != null">
                #{attr6,jdbcType=VARCHAR},
            </if>
            <if test="attr7 != null">
                #{attr7,jdbcType=VARCHAR},
            </if>
            <if test="attr8 != null">
                #{attr8,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.epri.fx.server.entity.Menu">
        update base_menu
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="href != null">
                href = #{href,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=CHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=CHAR},
            </if>
            <if test="crtTime != null">
                crt_time = #{crtTime,jdbcType=TIMESTAMP},
            </if>
            <if test="crtUser != null">
                crt_user = #{crtUser,jdbcType=VARCHAR},
            </if>
            <if test="crtName != null">
                crt_name = #{crtName,jdbcType=VARCHAR},
            </if>
            <if test="crtHost != null">
                crt_host = #{crtHost,jdbcType=VARCHAR},
            </if>
            <if test="updTime != null">
                upd_time = #{updTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updUser != null">
                upd_user = #{updUser,jdbcType=VARCHAR},
            </if>
            <if test="updName != null">
                upd_name = #{updName,jdbcType=VARCHAR},
            </if>
            <if test="updHost != null">
                upd_host = #{updHost,jdbcType=VARCHAR},
            </if>
            <if test="attr1 != null">
                attr1 = #{attr1,jdbcType=VARCHAR},
            </if>
            <if test="attr2 != null">
                attr2 = #{attr2,jdbcType=VARCHAR},
            </if>
            <if test="attr3 != null">
                attr3 = #{attr3,jdbcType=VARCHAR},
            </if>
            <if test="attr4 != null">
                attr4 = #{attr4,jdbcType=VARCHAR},
            </if>
            <if test="attr5 != null">
                attr5 = #{attr5,jdbcType=VARCHAR},
            </if>
            <if test="attr6 != null">
                attr6 = #{attr6,jdbcType=VARCHAR},
            </if>
            <if test="attr7 != null">
                attr7 = #{attr7,jdbcType=VARCHAR},
            </if>
            <if test="attr8 != null">
                attr8 = #{attr8,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.epri.fx.server.entity.Menu">
    update base_menu
    set code = #{code,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      href = #{href,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      crt_user = #{crtUser,jdbcType=VARCHAR},
      crt_name = #{crtName,jdbcType=VARCHAR},
      crt_host = #{crtHost,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_user = #{updUser,jdbcType=VARCHAR},
      upd_name = #{updName,jdbcType=VARCHAR},
      upd_host = #{updHost,jdbcType=VARCHAR},
      attr1 = #{attr1,jdbcType=VARCHAR},
      attr2 = #{attr2,jdbcType=VARCHAR},
      attr3 = #{attr3,jdbcType=VARCHAR},
      attr4 = #{attr4,jdbcType=VARCHAR},
      attr5 = #{attr5,jdbcType=VARCHAR},
      attr6 = #{attr6,jdbcType=VARCHAR},
      attr7 = #{attr7,jdbcType=VARCHAR},
      attr8 = #{attr8,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectMenuAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_menu
    </select>

    <select id="selectMenuByAuthorityId" resultMap="BaseResultMap">
       select t.*
       from base_resource_authority ra
       inner join base_menu t
       on ra.resource_id = t.id
       and ra.authority_id = #{authorityId,jdbcType=VARCHAR}
       and ra.authority_type = #{authorityType,jdbcType=VARCHAR}
       and ra.resource_type = 'menu'
    </select>

    <delete id="deleteAllChild" parameterType="java.lang.Integer">
    delete from base_menu
    where parent_id = #{parentId,jdbcType=INTEGER}


  </delete>

    <select id="selectAuthorityMenuByUserId" resultMap="BaseResultMap">
     select distinct t.* from base_resource_authority ra
    inner join base_menu t
    on ra.resource_id = t.id
    and ra.authority_id in (
      select group_id from base_group_member where user_id = #{userId}
      union select group_id from base_group_leader where user_id = #{userId}
    )
    and ra.authority_type = 'group'
    and ra.resource_type = 'menu'
    order by t.order_num
  </select>
    <!--    SELECT-->
    <!--    id,code,type,name,uri,menu_id,parent_id,path,method,description,crt_time,crt_user,crt_name,crt_host,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8-->
    <!--    FROM base_element WHERE ( menu_id = ? )-->
</mapper>